<div class="container mt-4">
    <div class="card">
        <img src="../../../assets/img/bp-logo.png" alt="Imagem Bebê Parceiro">

        <small class="form-text font-weight-bold text-left">Telefone</small>
        <input type="text" class="form-control" mask="(00) 0 0000-0000||(00) 0000-0000" placeholder="(XX) X XXXX-XXXX"
            name="phone" minlength="10" required>
        <small class="form-text font-weight-bold text-left">Senha</small>
        <input type="password" class="form-control" placeholder="Senha">

        <button class="bp-button">Entrar</button>
        <a href="">Esqueceu sua senha?</a>
        <hr>
        <button class="bp-button">Cadastrar-se</button>
    </div>
</div>