<div class="container">
    <h1 class="bp-big-title">Atendimentos Pendentes</h1>
    <input type="text" class="form-control" placeholder="Filtrar Atendimentos" (input)="filterAppointment()" [(ngModel)]="filter"/>
    <div>
        <table class="table table-hover table-striped" *ngIf="!isLoading && appointments.length > 0">
            <thead class="table-dark">
                <tr>
                    <th>Nome</th>
                    <th>Especialidade</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let appointment of appointments">
                    <td class="align-middle bp-nome-limit" 
                        (click)="inspectBeneficiary(appointment.beneficiary!)"
                        [title]="'Visualizar a beneficiada: ' + appointment.beneficiary?.user?.name">{{appointment.beneficiary?.user?.name}}</td>
                     <td class="align-middle">{{appointment.speciality?.name}}</td>
                    <td>
                        <i class="fa-solid fa-user col-11 col-md-2" 
                            (click)="inspectBeneficiary(appointment.beneficiary!)" 
                            [title]="'Visualizar a beneficiada: ' + appointment.beneficiary?.user?.name"></i>
                        <i class="fa-solid fa-check col-11 col-md-2" (click)="approveAppointment(appointment)" title="Aprovar o atendimento"></i>
                        <i class="fa-solid fa-xmark col-11 col-md-2" (click)="refuseAppointment(appointment)" title="Remover o profissional"></i>
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="!isLoading && appointments.length == 0" class="mt-4 text-center">
            <hr>
            <h2>Não há atendimentos pendentes!</h2>
            <button class="bp-button" id="bp-big-btn" routerLink="/voluntaria/atendimentos">Voltar a listagem</button>
        </div>
        <div *ngIf="isLoading" class="text-center text-dark">
            <button class="btn btn-dark mt-2" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Carregando dados...
            </button>
        </div>
    </div>
    <div class="bp-footer fixed-bottom">
        <button class="bp-button" id="bp-big-btn" routerLink="/voluntaria/atendimentos">Voltar</button>
    </div>
</div>