<div class="modal-header modal-lg d-flex justify-content-center">
    <h4 class="mb-0" *ngIf="!editMode">Cadastrar Campanha</h4>
    <h4 class="mb-0" *ngIf="editMode">Editar Campanha</h4>
</div>
<div class="modal-body my-3">
    <div class="container">
        <form #form="ngForm">
            <div class="mb-3">
                <small class="bp-label-text">Nome</small>
                <input type="text" class="form-control" placeholder="Nome da Campanha" name="name" [(ngModel)]="campaign.name" required>
                <div *ngIf="form.controls['name']">
                    <div
                        *ngIf="form.controls['name'].errors && (form.controls['name'].dirty || form.controls['name'].touched)">
                        <div *ngIf="form.controls['name'].errors['required']" class="alert alert-danger">
                            O campo é obrigatório.
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <small class="bp-label-text">Data de Início</small>
                <input type="date" class="form-control" name="startDate" [(ngModel)]="campaign.start_date" required>
                <div *ngIf="form.controls['startDate']">
                    <div
                        *ngIf="form.controls['startDate'].errors && (form.controls['startDate'].dirty || form.controls['startDate'].touched)">
                        <div *ngIf="form.controls['startDate'].errors['required']" class="alert alert-danger">
                            O campo é obrigatório.
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <small class="bp-label-text">Data de Fim</small>
                <input type="date" class="form-control" name="endDate" [(ngModel)]="campaign.end_date" required>
                <div *ngIf="form.controls['endDate']">
                    <div
                        *ngIf="form.controls['endDate'].errors && (form.controls['endDate'].dirty || form.controls['endDate'].touched)">
                        <div *ngIf="form.controls['endDate'].errors['required']" class="alert alert-danger">
                            O campo é obrigatório.
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <small class="bp-label-text">Descrição</small>
                <textarea class="form-control" rows="3" name="description" [(ngModel)]="campaign.description" placeholder="Descrição da Campanha"></textarea>
                <div *ngIf="form.controls['description']">
                    <div
                        *ngIf="form.controls['description'].errors && (form.controls['description'].dirty || form.controls['description'].touched)">
                        <div *ngIf="form.controls['description'].errors['required']" class="alert alert-danger">
                            O campo é obrigatório.
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <small class="bp-label-text">Link Externo</small>
                <input type="url" class="form-control" placeholder="https://exemplo.com" name="externalLink" [(ngModel)]="campaign.external_link" required>
                <div *ngIf="form.controls['externalLink']">
                    <div
                        *ngIf="form.controls['externalLink'].errors && (form.controls['externalLink'].dirty || form.controls['externalLink'].touched)">
                        <div *ngIf="form.controls['externalLink'].errors['required']" class="alert alert-danger">
                            O campo é obrigatório.
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="bp-modal-footer justify-content-center align-items-center">
    <button type="submit" class="bp-button col-6" id="btn-save" (click)="save()" [disabled]="!form.form.valid">Salvar</button>
    <button type="button" class="bp-button col-6" id="btn-close" (click)="close()">Cancelar</button>
</div>