.bp-menu-option {
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: var(--bp-light-gray);
    color: var(--black);
    padding: 1rem;
    margin: 1rem;
    transition: .5s;
    border-radius: 15px;
}

.bp-menu-option:hover {
    background-color: var(--bp-black);
    color: var(--white);
    font-size: 1.5rem;
}

.bp-disabled {
    display: none;
}

.bp-swap-disabled{
    background-color: var(--bp-dark-gray);
}

.bp-swap-disabled:hover{
    background-color: var(--bp-dark-gray);
    color: var(--black);
    font-size: 1.2rem;
    cursor: not-allowed;
}