#bp-description-text {
  margin-bottom: .5rem;
  font-weight: 500;
}

#bp-speciality-text{
  margin-bottom: 0;
  text-align: center;
  font-weight: 500;
  font-size: .85rem;
}

.bp-footer {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}