<div *ngIf="!showSuccess; else successTemplate" class="container mt-4 mb-5 pb-5">

  <h4 class="text-center">Cadastro de Profissional Voluntário </h4>
      <p class="text-center"> Lorem ipsum dolor sit amet amit consectetur est napole </p>
 
  <form #form="ngForm">
    <div>
      
      <div>
        <small class="form-text font-weight-bold text-left">
          Nome Completo <span class="text-danger font-weight-bold">*</span>
        </small>
        <input type="text" class="form-control" placeholder="Seu Nome" minlength="2" maxlength="150" 
              name="name" [(ngModel)]="professional.name"  #name="ngModel" required>
      </div>
      
      
      <div class="row mt-1">
        <div class="col">
          <small class="form-text font-weight-bold text-left">Telefone <span
              class="text-danger font-weight-bold">*</span></small>
          <input type="text" class="form-control" mask="(00) 0 0000-0000||(00) 0000-0000" placeholder="(XX) X XXXX-XXXX"
            name="phone" [(ngModel)]="professional.phone" #phone="ngModel" minlength="10" required>
        </div>
      </div>

      <div class="col">
        <small class="form-text font-weight-bold text-left">Email</small>
        <input type="email" class="form-control" placeholder="Email@mail.com" name="email" 
                [(ngModel)]="professional.email" email="ngModel">
      </div>
     
    </div>
    <div>
     
      <div class="col">
        <small class="form-text font-weight-bold text-left">Especialidade <span
          class="text-danger font-weight-bold">*</span></small>
        <select class="form-select" [(ngModel)]="specialitySelected" (ngModelChange)="listSpecialities()" name="speciality" required>
          <option [value]="undefined"> --- </option>
          <option [value]="speciality.id" *ngFor="let speciality of specialities">{{speciality.name}}</option>    
        </select>
      </div>

      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="acceptTerms" [(ngModel)]="professional.accepted_volunteer_terms"
          name="acceptTerms"  required>
        <label class="form-check-label" href="URL_DO_SEU_TERMO" style="color: blue;" for="acceptTerms">Aceito os Termos
          de Voluntariado</label>
      </div>

      <small class="form-text font-weight-bold text-left">
        Campos com <span class="text-danger font-weight-bold">*</span> são obrigatórios
      </small>
     
    </div>

    <div class="bp-footer">
      <button routerLink="/login/" class="bp-button big-btn">Voltar</button>
      <button class="bp-button big-btn" (click)="save()" [disabled]="!form.form.valid">Continuar</button>
    </div>
  
  </form>
</div>

<ng-template #successTemplate>
  <app-sucesso-cadastro></app-sucesso-cadastro>
</ng-template>

