<div class="modal-header modal-lg d-flex justify-content-center">
    <h4 class="mb-0">Ver Atendimento</h4>
</div>
<div class="modal-body my-3">
    <div class="container">
        <div>
            <small class="bp-label-text">Data Agendada</small>
            <input type="text" class="form-control" [(ngModel)]="appointment.datetime" disabled>
        </div>

        <div>
            <small class="bp-label-text">Profissional</small>
            <input type="text" class="form-control" [(ngModel)]="appointment.professional!.name" disabled>            
        </div>
       
        <div>
            <small class="bp-label-text">Especialidade</small>
            <input type="text" class="form-control" [(ngModel)]="appointment.professional!.speciality!.name" disabled>            
        </div>

        <div class="my-3">
            <small class="bp-label-text">Contato</small>
            <input type="text" class="form-control" [(ngModel)]="appointment.professional!.phone" disabled>
        </div>
    </div>
</div>
<div class="bp-modal-footer justify-content-center align-items-center">
    <button type="button" class="bp-button col-12" id="btn-close" (click)="activeModal.close()">
        <i class="btn_cancel" title="Voltar para a listagem">Voltar</i>
    </button>
</div>
