/* -------------------------------------------  MAIN  ------------------------------------------- */
#e404 {
    height: 100vh;
}

/* -------------------------------------------  CLASS ------------------------------------------- */
.error404 {
    font-size: 8rem;
    letter-spacing: 1rem;
    margin-top: 3rem;
}

.bp-button {
  --btn-bg: var(--bp-yellow);
  --btn-bg-hover: var(--bp-black);
  --btn-cor-hover: #FFFFFF;
  margin: 2rem auto;
  padding: .3rem 3.5rem;
}

/* -------------------------------------------   TAG  ------------------------------------------- */
h5 {
  margin: 2.5rem 1rem;
  text-align: center;
}

/* -------------------------------------------  MEDIA ------------------------------------------- */
@media screen and (width > 991px) {
    .error404 {
      font-size: 10rem;
    }

    .bp-button {
      padding: .3rem 5rem;
    }
}