django~=5.0.3
djangorestframework~=3.15.0
gunicorn==21.2.0
psycopg2-binary==2.9.9
grappa==1.0.1
django-cors-headers==4.3.1
pytest-django==4.7.0
pytest==7.4.3
faker==21.0.0
factory-boy==3.3.0
django-extensions==3.2.3
django-rest-knox==4.2.0
