<div class="container">
    <h1 class="bp-big-title">Funções</h1>
    <input type="text" class="form-control" placeholder="Filtrar Funções" (input)="filterGroup($event)"
    [(ngModel)]="filter" />
    <div>
        <table class="table table-hover table-striped" *ngIf="!isLoading">
            <thead class="table-dark">
                <tr>
                    <th>Nome</th>
                    <th>Ações</th>
                </tr>
            </thead>
            
        </table>
        <div *ngIf="isLoading" class="text-center text-dark">
            <button class="btn btn-dark mt-2" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Carregando dados...
            </button>
        </div>
    </div> 
    <div class="bp-footer fixed-bottom">
        <div class="d-flex flex-column">
            <div class="bp-footer-left">
                <button class="bp-button" id="bp-big-btn" routerLink="/voluntaria/funcoes">Voltar</button>
            </div>
        </div>
        
    </div>
</div>