/* -------------------------------------------   ID   ------------------------------------------- */
#bp-remove {
    --bg-btn: var(--bp-red);
    --color-btn: var(--white);
    padding: .4rem 1.1rem;
}

/* -------------------------------------------   TAG  ------------------------------------------- */
p { margin-bottom: .5rem; }

/* -------------------------------------------  MEDIA ------------------------------------------- */
@media screen and (width > 991px) {
    p { margin-bottom: 1rem; }
}