<div class="modal-header modal-lg d-flex justify-content-center">
    <h5 *ngIf="!showSuccess">Gerar Códigos</h5>
    <h5 *ngIf="showSuccess">Códigos</h5>
</div>
<div *ngIf="!showSuccess">
    <div class="modal-body">
        <form #form="ngForm" class="bp-form">
            <p class="text-center">Por favor selecione a quantidade de códigos a serem gerados</p>
            <div class="my-3">
                <small class="form-text font-weight-bold text-left">Quantidade</small>
                <input type="text" class="form-control" mask="00" placeholder="Quantidade de códigos" name="amount"ngModel>
            </div>
        </form>
    </div>
    <div class="modal-footer justify-content-center align-items-center">
        <button type="submit" class="bp-button col-6" id="btn-salvar" (click)="generateCodes()">Gerar</button>
        <button type="button" class="bp-button col-6" id="btn-fechar" (click)="activeModal.close()">Cancelar</button>
    </div>
</div>
<div class="modal-body" *ngIf="showSuccess">
    <h1>códigos aqui</h1>
    <button></button>
</div>