#btn-salvar{
    --btn-cor-hover : #000000;
    border-bottom-left-radius: 5px;
    background-color: var(--bp-green);
}


#btn-fechar{
    border-bottom-right-radius: 5px;
}

.bp-button {
    margin: 0;
    font-size: 1.2rem;
    border-radius: 0;
}

.modal-footer {
    padding: 0;
}

.bp-form{
    padding: 1rem 2rem;
}

@media screen and (width > 991px) {
    .bp-form{
        padding: 2rem 6rem;
    }
}