<div class="modal-header modal-lg d-flex justify-content-center">
    <h1 class="bp-big-title mb-4">{{volunteer.user?.name}}</h1>
</div>

<div class="modal-body my-3">
    <div class="container">
        <div>
            <p><strong>Nome:</strong> {{volunteer.user?.name}}</p>
        </div>
        <div class="my-3">
            <p><strong>Telefone:</strong> {{volunteer.user?.phone}}</p>
        </div>
        <div class="my-3">
            <p><strong>Email:</strong> {{volunteer.user?.email}}</p>
        </div>
        <div class="col-12 col-md-4">
            <p><strong>País:</strong> {{volunteer.city?.state?.country?.name}}</p>
        </div>
        <div class="col-12 col-md-4">
            <p><strong>Estado:</strong> {{volunteer.city?.state?.name}}</p>
        </div>
        <div class="col-12 col-md-4">
            <p><strong>Cidade:</strong> {{volunteer.city?.name}}</p>
        </div>
        <div class="col-12 col-md-4">
            <p><strong>Funções:</strong> <span *ngFor="let group of volunteer.user?.groups"> {{group.name}} </span></p>
        </div>
    </div>
</div>

          
<div class="bp-modal-footer justify-content-center align-items-center">
    <button type="button" class="bp-button col-4" id="btn-close" (click)="activeModal.close()">
        <i class="fa-solid fa-xmark" [title]="'Voltar para a listagem'"></i>
    </button>
    <button type="button" class="bp-button col-4" id="btn-edit" (click)="editVolunteer(volunteer)" >
        <i class="fa-solid fa-pen-to-square" [title]="'Editar a voluntária: '+ volunteer.user?.name"></i>
    </button>
    <button type="button" class="bp-button col-4" id="btn-delete" (click)="deleteVolunteer(volunteer)" >
        <i class="fa-solid fa-trash" [title]="'Excluir a voluntária: '+ volunteer.user?.name"></i>
    </button>
</div>