<div class="container">
    <h1 class="bp-big-title">Profissionais</h1>
    <input type="text" class="form-control" placeholder="Filtrar Profissionais" (input)="filterVolunteer($event)"
    [(ngModel)]="filter" />
    <div>
        <table class="table table-hover table-striped" *ngIf="!isLoading">
            <thead class="table-dark">
                <tr>
                    <th>Nome</th>
                    <th>Especialidade</th>
                    <th>Ações</th>
                </tr>
            </thead>
             <tbody>
                <tr *ngFor="let volunteer of Volunteers"
                    [title]="'Clique para ver mais dados do profissional: '+ volunteer.name">
                    <td class="align-middle" (click)="inspectVolunteer(volunteer)">{{volunteer.name}}</td>
                    <td class="align-middle" (click)="inspectVolunteer(volunteer)">{{volunteer.group?.name}}</td>
                    <td>
                        <i class="fa-solid fa-pen-to-square col-12 col-md-2" (click)="editVolunteer(volunteer)"
                            [title]="'Editar o profissional: '+ volunteer.name"></i>
                        <i class="fa-solid fa-trash col-12 col-md-2" (click)="deleteVolunteer(volunteer)"
                        [title]="'Excluir o profissional: '+ volunteer.name"></i>
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="isLoading" class="text-center text-dark">
            <button class="btn btn-dark mt-2" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Carregando dados...
            </button>
        </div>
    </div> 
    <div class="bp-footer fixed-bottom">
        <div class="d-flex flex-column">
            <div class="bp-footer-left">
                <button class="bp-button" id="bp-big-btn" routerLink="pendentes">Profissionais Pendentes</button>
            </div>
            <div class="bp-footer-left">
                <button class="bp-button" id="bp-big-btn" routerLink="/">Voltar</button>
            </div>
        </div>
        <div class="d-flex flex-column">
            <div class="bp-footer-right">
                <button class="bp-button" id="bp-big-btn" (click)="newVolunteer()">Novo Profissional</button>
            </div>
            <div class="bp-footer-right">
                <button class="bp-button" id="bp-big-btn" routerLink="/voluntaria/especialidades">Especialidades</button>
            </div>
        </div>
    </div>
</div>