<div class="modal-header modal-lg d-flex justify-content-center">
    <h4 class="mb-0">Ver Atendimento</h4>
</div>
<div class="modal-body my-3">
    <div class="container">
        <form #form="ngForm" class="bp-form">
            <div>
                <small class="bp-label-text">Nome Beneficiada</small>
                <input type="text" class="form-control" [value]="appointment.beneficiary?.user?.name || '---'" disabled>
            </div>
            <div class="my-3">
                <small class="bp-label-text">Especialidade</small>
                <input type="text" class="form-control" [value]="appointment.speciality?.name || '---'" disabled>
            </div>
            <div class="my-3">
                <small class="bp-label-text">Profissional</small>
                <input type="text" class="form-control" [value]="appointment.professional?.name || '---'" disabled>
            </div>
            <div class="my-3">
                <small class="bp-label-text">Status</small>
                <input type="text" class="form-control" [value]="appointment.status?.name || '---'" disabled>
            </div>
        </form>
    </div>
</div>
<div class="bp-modal-footer justify-content-center align-items-center">
    <button type="button" class="bp-button col-4" id="btn-close" (click)="activeModal.close()">
        <i class="fa-solid fa-xmark" title="Voltar para a listagem"></i>
    </button>
    <button type="button" class="bp-button col-4" id="btn-edit" (click)="editAppointment()">
        <i class="fa-solid fa-pen-to-square" title="Editar a campanha"></i>
    </button>
    <button type="button" class="bp-button col-4" id="btn-delete" (click)="deleteAppointment()">
        <i class="fa-solid fa-trash" title="Excluir a campanha"></i>
    </button>
</div>