<div class="container">
    <h1 class="bp-big-title">Beneficiadas</h1>
    <input type="text" class="form-control" placeholder="Filtrar Beneficiadas" (input)="filterBeneficiary($event)"
        [(ngModel)]="filter" />
    <div>
        <table class="table table-hover table-striped" *ngIf="!isLoading">
            <thead class="table-dark">
                <tr>
                    <th>Nome</th>
                    <th>Filhos</th>
                    <th>Data Entrada</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let beneficiary of beneficiaries"
                    [title]="'Clique para ver mais dados da beneficiada: '+ beneficiary.user?.name">
                    <td class="align-middle bp-nome-limit" (click)="inspectBeneficiary(beneficiary)">{{beneficiary.user?.name}}</td>
                    <td class="align-middle" (click)="inspectBeneficiary(beneficiary)">{{beneficiary.child_count}}</td>
                    <td class="align-middle" (click)="inspectBeneficiary(beneficiary)">{{beneficiary.created_at | date:
                        'dd/MM/yyyy'}}</td>
                    <td>
                        <i class="fa-solid fa-rectangle-list col-12 col-md-2"
                            (click)="appointmentsForBeneficiary(beneficiary)"
                            [title]="'Ver os atendimentos da beneficiada: '+ beneficiary.user?.name"></i>
                        <i class="fa-solid fa-pen-to-square col-12 col-md-2" (click)="editBeneficiary(beneficiary)"
                            [title]="'Editar a beneficiada: '+ beneficiary.user?.name"></i>
                        <i class="fa-solid fa-trash col-12 col-md-2" (click)="deleteBeneficiary(beneficiary)"
                            [title]="'Excluir para a beneficiada: '+ beneficiary.user?.name"></i>
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="isLoading" class="text-center text-dark">
            <button class="btn btn-dark mt-2" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Carregando dados...
            </button>
        </div>
    </div>

    <div class="bp-footer fixed-bottom">
        <button class="bp-button" id="bp-big-btn" routerLink="/">Voltar</button>
        <button class="bp-button" id="bp-big-btn" routerLink="criar">Nova Beneficiada</button>
    </div>
</div>