/* -------------------------------------------   ID   ------------------------------------------- */
#bp-big-btn {
    margin: 0 1.5rem;
    padding: .5rem 1.35rem;
    font-size: .9rem;
}
/* -------------------------------------------  CLASS ------------------------------------------- */
.bp-footer {
    display: flex;
    justify-content: space-around;
    padding: .5rem 2.5rem .8rem 2.5rem;
    background-color: var(--bp-light-gray);
}

.bp-nome-limit {
    max-width: 140px; /* Defina o limite máximo de largura para o texto */
    word-wrap: break-word; /* Permite que o texto quebre quando ultrapassar o limite máximo de largura */
}

.fa-solid{ margin: .5rem .2rem; }
.fa-pen-to-square { color: var(--bp-black); }
.fa-pen-to-square:hover { color: var(--black); }
.fa-rectangle-list{ color: var(--bp-dark-gray); }
.fa-rectangle-list:hover{ color: var(--bp-black); }
.fa-trash { color: var(--bp-red); }
.fa-trash:hover { color: var(--bp-dark-red); }
/* -------------------------------------------   TAG  ------------------------------------------- */
table {
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 1rem;
    margin-bottom: 7.5rem;
    text-align: center;
}

td {
    border: 1px solid var(--bp-light-gray);
    padding: .4rem;
    cursor: pointer;
}

th { border: 1px solid var(--bp-light-gray); }

thead {
    border-radius: 5px;
    border: 1px solid var(--bp-light-gray);
}
/* -------------------------------------------  MEDIA ------------------------------------------- */
@media screen and (width < 991px) {
    .fa-solid{ margin: .25rem; }
    td, th { font-size: .9rem; }
}

@media screen and (width < 390px) {
    .bp-footer{ 
        display: grid;
        justify-content: center;
        row-gap: 1rem;
    }

    td, th {
        font-size: .75rem;
        font-weight: 600;
        padding: 2.5px;
    }

    i{
        font-size: 1.2rem;
        padding: .75rem 0;
    }
}
