<div class="container">
    <h1 class="bp-big-title">Admissões Designadas</h1>
    <div>
        <table class="table table-hover table-striped" *ngIf="!isLoading && evaluations.length > 0">
            <thead class="table-dark">
                <tr>
                    <th>Nome</th>
                    <th>Está gravida?</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let evaluation of evaluations">
                    <td class="align-middle bp-nome-limit col-5">{{evaluation?.beneficiary?.user?.name}}</td>
                    <td class="align-middle bp-nome-limit col-5">{{evaluation?.beneficiary?.is_pregnant ? 'Sim' :
                        'Não'}}</td>
                    <td class="col-4 align-middle">
                        <i class="fa-solid fa-check col-12 col-md-2" title="Finalizar admissão"
                            (click)="closeEvaluation(evaluation)"></i>
                        <i class="fa-solid fa-rectangle-list col-12 col-md-2"
                            (click)="beneficiaryRecords(evaluation?.beneficiary!)"
                            [title]="'Ver o prontuário da beneficiada: '+ evaluation?.beneficiary?.user?.name"></i>
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="!isLoading && evaluations.length <= 0" class="mt-4 text-center">
            <hr>
            <h2>Não há admissões designadas para você!</h2>
            <button class="bp-button" id="bp-big-btn" routerLink="/">Voltar</button>
        </div>
        <div *ngIf="isLoading" class="text-center text-dark">
            <button class="btn btn-dark mt-2" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Carregando dados...
            </button>
        </div>
    </div>
    <div class="bp-footer fixed-bottom">
        <div class="bp-footer-left">
            <button class="bp-button" id="bp-big-btn" routerLink="/">Voltar</button>
        </div>
    </div>
</div>