<div class="container">
    <h1 class="bp-big-title">Atendimentos</h1>
    <input type="text" class="form-control" placeholder="Filtrar Atendimentos" (input)="filterAppointment()" [(ngModel)]="filter" />
    <div>
        <table class="table table-hover table-striped" *ngIf="!isLoading">
            <thead class="table-dark">
                <tr>
                    <th>Especialidade</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tr *ngFor="let appointment of appointments" title="Clique para ver mais dados do agendamento">
                <td class="align-middle" (click)="inspectAppointment(appointment)">{{appointment.speciality?.name || 'Voluntária'}}</td>
                <td class="align-middle" (click)="inspectAppointment(appointment)">{{appointment.status?.name}}</td>
                <td class="col-3 align-middle" (click)="inspectAppointment(appointment)">
                    <i class="fa-solid fa-eye"  [title]="'Ver dados do atendimento: '+ appointment.professional"></i>
                </td>
            </tr>
        </table>
        <div *ngIf="isLoading" class="text-center text-dark">
            <button class="btn btn-dark mt-2" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Carregando dados...
            </button>
        </div>
    </div>
    <div class="bp-footer fixed-bottom">
        <div class="bp-footer-left">
            <button class="bp-button" id="bp-big-btn" routerLink="/">Voltar</button>
        </div>
        <div class="bp-footer-right">
            <button class="bp-button" id="bp-big-btn" (click)="newAppointment()">Novo Atendimento</button>
        </div>
    </div>
</div>
