<div class="container">
    <h1 class="bp-big-title">Especialidades</h1>
    <input type="text" class="form-control" placeholder="Filtrar Especialidades" (input)="filterSpeciality($event)"
    [(ngModel)]="filter" />
    <div>
        <table class="table table-hover table-striped" *ngIf="!isLoading">
            <thead class="table-dark">
                <tr>
                    <th>Nome</th>
                    <th>Ações</th>
                </tr>
            </thead>
             <tbody>
                <tr *ngFor="let speciality of specialities">
                    <td class="align-middle">{{speciality.name}}</td>
                    <td>
                        <i class="fa-solid fa-pen-to-square col-12 col-md-2" (click)="editSpeciality(speciality)"
                            [title]="'Editar a especialidade: '+ speciality.name"></i>
                        <i class="fa-solid fa-trash col-12 col-md-2" (click)="deleteSpeciality(speciality)"
                        [title]="'Excluir a especialidade: '+ speciality.name"></i>
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="isLoading" class="text-center text-dark">
            <button class="btn btn-dark mt-2" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Carregando dados...
            </button>
        </div>
    </div> 
    <div class="bp-footer fixed-bottom">
        <div class="d-flex flex-column">
            <div class="bp-footer-left">
                <button class="bp-button" id="bp-big-btn" routerLink="/voluntaria/profissionais">Voltar</button>
            </div>
        </div>
        <div class="d-flex flex-column">
            <div class="bp-footer-right">
                <button class="bp-button" id="bp-big-btn" (click)="newSpeciality()">Nova Especialidade</button>
            </div>
        </div>
    </div>
</div>