<div class="modal-header modal-lg d-flex justify-content-center">
    <h4 class="mb-0">Ver Troca</h4>
</div>
<div class="modal-body my-3">
    <div class="container">
        <div class="my-3">
            <small class="bp-label-text">Beneficiada</small>
            <input type="text" class="form-control" [(ngModel)]="swap.beneficiary!.user!.name" disabled>
        </div>
        <div class="my-3">
            <small class="bp-label-text">Criança</small>
            <input type="text" class="form-control" [(ngModel)]="swap.child!.name" disabled>
        </div>
        <div class="my-3">
            <small class="bp-label-text">Tamanho da Roupa</small>
            <input type="text" class="form-control" [(ngModel)]="swap.cloth_size!.name" disabled>
        </div>
        <div class="my-3">
            <small class="bp-label-text">Tamanho do Sapato</small>
            <input type="text" class="form-control" [(ngModel)]="swap.shoe_size!.name" disabled>
        </div>
        <div class="my-3">
            <small class="bp-label-text">Descrição</small>
            <textarea class="form-control" [(ngModel)]="swap.description" placeholder="Descrição da troca" disabled></textarea>
        </div>
        <div class="my-3">
            <small class="bp-label-text">Status</small>
            <input type="text" class="form-control" [(ngModel)]="swap.status!.name" disabled>
        </div>
    </div>
    <div class="d-flex justify-content-evenly" *ngIf="!isSwapApproved && !isSwapClosed">
        <button class="bp-actions-btn" id="btn-approve" [title]="'Aprovar essa troca'" (click)="approveSwap()">Aprovar</button>
        <button class="bp-actions-btn" id="btn-refuse" [title]="'Recusar essa troca'" (click)="refuseSwap()">Recusar</button>
    </div>
    <div class="d-flex justify-content-evenly" *ngIf="isSwapApproved && !isSwapClosed">
        <button class="bp-actions-btn" id="btn-approve" [title]="'Encerrar essa troca'" (click)="finishSwap()">Encerrar</button>
        <button class="bp-actions-btn" id="btn-refuse" [title]="'Cancelar essa troca'" (click)="cancelSwap()">Cancelar</button>
    </div>
</div>
<div class="bp-modal-footer justify-content-center align-items-center">
    <button type="button" class="bp-button col-4" id="btn-close" (click)="activeModal.close()">
        <i class="fa-solid fa-xmark" title="Voltar para a listagem"></i>
    </button>
    <button type="button" class="bp-button col-4" id="btn-edit" (click)="editSwap()">
        <i class="fa-solid fa-pen-to-square" title="Editar a troca"></i>
    </button>
    <button type="button" class="bp-button col-4" id="btn-delete" (click)="deleteSwap()">
        <i class="fa-solid fa-trash" title="Excluir a troca"></i>
    </button>
</div>