/* -------------------------------------------   ID   ------------------------------------------- */
#bp-big-btn {
    padding: .5rem 1rem;
    font-size: .9rem;
}
/* -------------------------------------------  CLASS ------------------------------------------- */
.bp-footer {
    display: flex;
    justify-content: space-around;
    padding: .5rem 2.5rem .8rem 2.5rem;
    background-color: var(--bp-light-gray);
}
/* -------------------------------------------   TAG  ------------------------------------------- */
hr{
    border: 1px solid var(--black);
}
/* -------------------------------------------  MEDIA ------------------------------------------- */
@media screen and (width < 991px) {
    #bp-big-btn{ margin: 0 .2rem; }
}

@media screen and (width < 390px) {
    #bp-big-btn{ padding: .35rem 1rem; }
    .bp-footer{ 
        display: grid;
        justify-content: center;
        padding: .3rem 0 .3rem 0;
    }
    .bp-button{ width: 100%; }
}
