<div class="container">
    <div class="text-center">
        <h1>Bem vinda voluntaria!</h1>
        <p>Usuário: {{user.user?.name}}</p>
    </div>
    <a class="row bp-menu-option" routerLink="prontuarios">
        <span>Prontuários</span>
    </a>
    <a class="row bp-menu-option" routerLink="beneficiadas">
        <span>Beneficiadas</span>
    </a>
    <a class="row bp-menu-option" routerLink="trocas">
        <span>Trocas</span>
    </a>
    <a class="row bp-menu-option" routerLink="atendimentos">
        <span>Atendimentos</span>
    </a>
    <a class="row bp-menu-option" routerLink="profissionais">
        <span>Profissionais</span>
    </a>
    <a class="row bp-menu-option" routerLink="solicitacoes">
        <span>Solicitações de cadastro</span>
    </a>
    <a class="row bp-menu-option" (click)="openAcessCodesModal()">
        <span>Códigos de acesso</span>
    </a>
</div>