/* -------------------------------------------  ID ------------------------------------------- */
#btn-close {
    --bg-btn: var(--bp-light-gray);
    border-bottom-right-radius: 5px;
}

#btn-save {
    --bg-btn: var(--bp-light-green);
    border-bottom-left-radius: 5px;
}

#btn-approve {
    --bg-btn: var(--bp-light-green);
}

#btn-refuse {
    --bg-btn: #FF8686;
}

/* -------------------------------------------  CLASS ------------------------------------------- */
.bp-actions-btn {
    background-color: var(--bg-btn);
    border: 1px solid var(--bp-black);
    color: var(--bp-black);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 5px;
    font-weight: 600;
    transition: 0.5s;
    padding: .3rem 1.5rem;
}

.bp-actions-btn:hover {
    background-color: var(--bp-black);
    color: var(--white);
}

.bp-button {
    margin: 0;
    border-radius: 0;
    bottom: 0;
}

.bp-label-text {
    margin-left: 1rem;
    font-size: 1rem;
}

.bp-modal-footer {
    padding: 0;
}

/* -------------------------------------------  MEDIA ------------------------------------------- */
@media screen and (width > 991px) {
    .bp-button {
        font-size: 1.2rem;
    }

    .bp-actions-btn {
        padding: .3rem 3rem;
        font-size: 1.2rem;
    }
}

@media screen and (width < 400px) {
    .bp-label-text {
        margin-left: .5rem;
        font-size: .8rem;
    }

    .bp-select-groups {
        width: 9.5rem;
    }
}