<div class="modal-header modal-lg d-flex justify-content-center">
    <h4 class="mb-0" *ngIf="!editMode">Cadastrar Profissional</h4>
    <h4 class="mb-0" *ngIf="editMode">Editar Profissional</h4>
</div>
<div class="modal-body my-3">
    <div class="container">
        <form #form="ngForm">
            <div>
                <small class="bp-label-text">Nome</small>
                <input type="text" class="form-control" placeholder="Seu Nome" minlength="2" maxlength="150" name="name"
                    [(ngModel)]="professional.name" required>
                <div *ngIf="form.controls['name']">
                    <div
                        *ngIf="form.controls['name'].errors && (form.controls['name'].dirty || form.controls['name'].touched)">
                        <div *ngIf="form.controls['name'].errors['required']" class="alert alert-danger">
                            O campo é obrigatório.
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-3">
                <small class="bp-label-text">Telefone (com Whatsapp)</small>
                <input type="text" class="form-control" mask="(00) 0 0000-0000||(00) 0000-0000"
                    placeholder="(XX) X XXXX-XXXX" name="phone" [(ngModel)]="professional.phone" minlength="10"
                    required>
                <div *ngIf="form.controls['phone']">
                    <div
                        *ngIf="form.controls['phone'].errors && (form.controls['phone'].dirty || form.controls['phone'].touched)">
                        <div *ngIf="form.controls['phone'].errors['required']" class="alert alert-danger">
                            O campo é obrigatório.
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <small class="bp-label-text">Especialidade</small>
                <select class="form-select" [(ngModel)]="professional.speciality_id"
                    (ngModelChange)="listSpecialities()" name="speciality" required>
                    <option [value]="undefined"> --- </option>
                    <option [value]="speciality.id" *ngFor="let speciality of specialities">{{speciality.name}}</option>
                </select>
                <div *ngIf="form.controls['speciality']">
                    <div
                        *ngIf="form.controls['speciality'].errors && (form.controls['speciality'].dirty || form.controls['speciality'].touched)">
                        <div *ngIf="form.controls['speciality'].errors['required']" class="alert alert-danger">
                            O campo é obrigatório.
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="bp-modal-footer justify-content-center align-items-center">
    <button type="submit" class="bp-button col-6" id="btn-save" (click)="save()">Salvar</button>
    <button type="button" class="bp-button col-6" id="btn-close" (click)="fechar()">Cancelar</button>
</div>