<div class="modal-header modal-lg d-flex justify-content-center">
    <h3 class="mb-0">Excluir Beneficiada</h3>
</div>
<div class="modal-body my-3">
    <div class="container">
        <p class="text-center">
            <span>Você tem certeza que deseja excluir a beneficiada: </span>
            <strong>{{beneficiary.user?.name}}</strong>
        </p>
        <p class="text-center"> A ação não poderá ser desfeita </p>
    </div>
</div>
<div class="bp-modal-footer justify-content-center align-items-center">
    <button type="submit" class="bp-button col-6" id="btn-delete" (click)="deleteBeneficiary()">Excluir</button>
    <button type="button" class="bp-button col-6" id="btn-close" (click)="activeModal.close()">Cancelar</button>
</div>