/* -------------------------------------------  ID ------------------------------------------- */
#btn-close {
    --bg-btn: var(--bp-light-gray);
    border-bottom-right-radius: 5px;
}

#btn-save {
    --bg-btn: var(--bp-light-green);
    border-bottom-left-radius: 5px;
}

/* -------------------------------------------  CLASS ------------------------------------------- */
.bp-button {
    margin: 0;
    border-radius: 0;
    bottom: 0;
}

.bp-label-text {
    margin-left: 1rem;
    font-size: 1rem;
}

.bp-modal-footer {
    padding: 0;
}

/* -------------------------------------------   TAG  ------------------------------------------- */
textarea{
    height: 130px;
    min-height: 80px;
    max-height: 250px;
}
/* -------------------------------------------  MEDIA ------------------------------------------- */
@media screen and (width > 991px) {
    .bp-button {
        font-size: 1.2rem;
    }
}

@media screen and (width < 400px) {
    .bp-label-text {
        margin-left: .5rem;
        font-size: .8rem;
    }
}