
    <div class="modal-header modal-lg d-flex justify-content-center">
      <h4 class="mb-0">Histórico de Admissões</h4>
    </div>
    <div class="modal-body my-3">
        <div class="container">
      <div *ngIf="isLoading" class="text-center">
        <div class="spinner-border text-primary" role="status">
          <span class="sr-only">Carregando...</span>
        </div>
      </div>
      
      <table class="table table-hover" *ngIf="!isLoading && records.length > 0">
        <thead>
          <tr>
            <th>Descrição</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let record of records">
            <td>{{ record.description }}</td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="!isLoading && records.length === 0">
        <p>Não há registros disponíveis.</p>
      </div>
    </div>
</div>
    <div class="bp-modal-footer justify-content-center ">
        <button type="button" class="bp-button col-12" id="btn-close" (click)="activeModal.close()">Cancelar</button>
      </div>
    